/* RESET */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* DARK THEME */
.dark {
  --bg: #0d1117;
  --text: #e6edf3;
  --card: #161b22;
  --border: #30363d;
  --primary: #7c3aed;
}

/* LIGHT THEME */
.light {
  --bg: #ffffff;
  --text: #111827;
  --card: #f3f4f6;
  --border: #d1d5db;
  --primary: #7c3aed;
}

/* APPLY THEME */
.dark, .light {
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  transition: all 0.3s ease;
}

/* COMMON UI STYLES */
.section-title span {
  color: var(--primary);
}

/* Cards */
.card {
  background: var(--card);
  border: 1px solid var(--border);
}

/* Buttons */
button {
  cursor: pointer;
}

.html{
  scroll-behavior: smooth;
}
/* Mobile responsive base */
@media (max-width: 768px) {
  section {
    padding: 2rem 1rem !important;
  }
}
/* Show hamburger only on mobile */
@media (max-width: 768px) {
  .menu-btn {
    display: block !important;
  }

  .nav-links {
    display: none !important;
  }
}